<!DOCTYPE html>
<html>

  <head>
    <%- partial('_partial/head') %>
  </head>

  <body>

    <%- partial('_partial/menu') %>

    <section class="section">
      <div class="container">

        <div class="columns is-mobile is-centered">
          <div class="column is-three-quarters-tablet is-two-thirds-desktop is-half-widescreen">
            <%- body %>
          </div>
        </div>

      </div>
    </section>

    <footer class="footer">
      <div class="container has-text-centered">
          <img src="/img/torresbaldi-logo.png" alt="<%- config.title %>" style="max-width: 300px; margin-top: 4rem; margin-bottom: 0.5rem;">
          <p class="is-subtitle is-size-6"><%- theme.subtitle %></p>
          <p style="margin-top: 4rem;">Diseño de <a href="http://molotec.com" target="_blank">Molotec Soluciones</a>.</p>
      </div>
    </footer>

  </body>
</html>
