<div class="card">

	<% if (item.img){ %>
	<div class="card-image">
		<figure class="image is-4by3">
			<a href="/<%- item.parent %>/<%- item.name %>">
				<img src="/img/<%- item.img %>" alt="<%- item.title %>">
			</a>
		</figure>
	</div>
	<% } %>

  <div class="card-content">

    <p class="title">
      <%- item.title %>
    </p>

    <div class="content">

      <%- item.content %>


    </div>

  </div>
</div>

<%- partial('_partial/subpages', {parent: item.name}) %>
